@media(max-width: 1600px){
  .first-screen__textarea-title {
    font-size: 95px;
    line-height: 98px;
    margin-bottom: 35px;
  }
  .first-screen__textarea-subtitle {
    margin-bottom: 30px;
  }
  .container {
    max-width: 1070px;
  }
  .catalog__items-inner{
    .catalog__item:nth-child(2){
      display: none;
    }
    .catalog__item:first-child{
      margin: 0 0 25px 0;
      .catalog__item-textarea__title {
        width: 100%;
      }
    }
  }
  .first-screen {
    background-size: cover;
    width: auto;
  }
  .catalog__items{
    margin-bottom: 25px;
  }
  .catalog__item-textarea__title{
    width: 90%;
  }
  .catalog__item{
    width: 345px;
    margin: 0 30px 0 0;
  }
  .catalog__item-img{
    width: 345px;
  }
  .catalog__items .catalog__item:nth-child(5){
    display: none;
  }
  .catalog__item-middle{
    margin-right: 0;
    .catalog__item-textarea__title{
      width: 100%;
    }
  }
  .catalog__item-img{
    display: none;
  }
  .catalog__item-big .catalog__item-img,
  .catalog__item-in,
  .catalog__item-img__responsive {
    display: block;
  }
  .catalog__item-responsive{
    display: none;
  }
  .catalog__item-textarea{
    height: 236px;
  }
  .catalog__item-textarea__title{
    padding-right: 0;
  }
  .catalog__item-textarea__title::after {
    right: 120px;
    top: 30px;
    transform: translateY(0);
  }
  .catalog__item-big{
    margin-bottom: 25px;
    .catalog__item-textarea__title{
      width: 75%;
    }
    .catalog__item-textarea__title::after {
      right: 90px;
    }
  }
}
@media(max-width: 1450px){
  .first-screen__textarea {
    transform: translateY(50%);
  }
  .first-screen__textarea-title {
    font-size: 87px;
    line-height: 92px;
    margin-bottom: 15px;
    letter-spacing: .25px;
  }
  .first-screen__textarea-subtitle {
    margin-bottom: 20px;
  }
  .container {
    max-width: 940px;
  }
  .first-screen__textarea-subtitle {
    font-size: 30px;
    line-height: 33px;
  }
  .footer__item:first-child {
    max-width: 370px;
  }
  .mfp-content {
    max-width: 720px;
  }
  .card-form {
    max-width: 720px;
    padding: 118px 32px 86px 48px;
  }
  .card-form__photos-big{
    max-width: 282px;
  }
  .card-form__photos-small{
    max-width: 66px;
  }
  .card-form__photos-small + .card-form__photos-small {
    margin-left: calc(2px - .5px);
  }
  .card-form__textarea {
    margin-left: 30px;
  }
}
@media(max-width: 1300px){
  .first-screen__textarea-title {
    font-size: 72px;
    line-height: 77px;
  }
  .first-screen__textarea-subtitle {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 10px;
  }
  .first-screen__line {
    transform: translateY(65%);
  }
  .first-screen__textarea{
    transform: translateY(60%);
  }
  .container {
    max-width: 800px;
  }
}
@media(max-width: 1100px){
  .first-screen__textarea-title {
    font-size: 67px;
    line-height: 72px;
  }
  .container {
    max-width: 730px;
  }
  .menu__list {
    width: 370px;
    padding: 35px 30px;
    top: 27px;
  }
}
@media(max-width: 950px){
  .first-screen__textarea-title {
    font-size: 60px;
    line-height: 65px;
  }
}
@media(max-width: 800px){
  .first-screen__textarea-subtitle {
    font-size: 23px;
    line-height: 26px;
  }
  .container {
    max-width: 660px;
  }
  .first-screen__textarea-title {
    max-width: 450px;
    margin-bottom: 40px;
  }
  .first-screen__textarea {
    transform: translateY(30%);
  }
  .first-screen {
    height: 73vh;
  }
  .first-screen__line {
    transform: translateY(45%);
  }
}
@media(max-width: 660px){
  .header__info{
    display: none;
  }
  .first-screen__textarea-title {
    font-size: 55px;
    line-height: 60px;
  }
  .container {
    max-width: 530px;
  }
  .menu__list {
    width: 280px;
  }
  .menu__list-item {
    font-size: 15px;
    line-height: 18px;
  }
  .menu__list-item + .menu__list-item {
    margin-top: 20px;
  }
  .first-screen__textarea-subtitle {
    font-size: 20px;
    line-height: 23px;
  }
}
@media(max-width: 530px){
  .first-screen__textarea {
    transform: translateY(10%);
  }
  .first-screen__textarea-title {
    font-size: 50px;
    line-height: 55px;
    max-width: 330px;
  }
  .first-screen__line {
    transform: translateY(25%);
  }
}
@media(max-width: 420px){
  .logo{
    margin-bottom: 10px;
  }
}