/*
font-family: 'Raleway', sans-serif;

font-family: 'Roboto Slab', serif;*/
%roboto-slab__reg{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
%raleway__regular{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
%raleway__regular-italic{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: italic;
}
%raleway__bold{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}