@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*start header*/
.header{
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 35px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    display: flex;
    align-items: center;
  }
  &__select{
    &::before{
      position: absolute;
      content: "";
      left: 0;
    }
  }
  &__select{
    &:first-child {
      &::before {
        background-image: url('../images/header__login.png');
        width: 10px;
        height: 12px;
        top: 4px;
      }
    }
    &:nth-child(2){
      &::before{
        background-image: url('../images/header__currency.png');
        width: 10px;
        height: 12px;
        top: 4px;
      }
    }
    &:nth-child(3) .jq-selectbox__select{
      padding-left: 0;
    }
    & + & {
      margin-left: 40px;
    }
  }
  &__info-block{
    margin-left: 40px;
  }
  &__info-block__number{
    @extend %raleway__bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .5px;
    margin: -10px 0 -10px;
  }
  &__info-block__description{
    font-size: 10px;
    line-height: 16px;
  }
}
.menu{
  position: relative;
  &__btn{
    width: 22px;
    height: 16px;
    cursor: pointer;
    div{
      width: 100%;
      height: 2px;
      background-color: #0d3351;
    }
    div + div {
      margin-top: 5px;
    }
  }
  &__list{
    display: none;
    position: absolute;
    width: 420px;
    color: #fff;
    padding: 70px 30px 75px;
    background-color: #0d3351;
    z-index: 5;
    top: 27px;
  }
  &__list.menu__list--active{
    display: block;
  }
  &__list-item{
    @extend %roboto-slab__reg;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .5px;
    & + & {
      margin-top: 30px;
    }
  }
}
/*finish header*/

/*start first-screen*/
.first-screen{
  height: 76vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  width: 100%;
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__line{
    transform: translateY(60%);
  }
  &__textarea{
    text-align: center;
    transform: translateY(35%);
  }
  &__textarea-subtitle{
    margin-bottom: 45px;
  }
  &__textarea-title{
    font-size: 100px;
    line-height: 103px;
    text-transform: uppercase;
    letter-spacing: -.5px;
    margin-bottom: 45px;
  }
  &__link{
    &.btn__link--active{
      background-color: #64d6ff;
    }
  }
}
/*finish first-screen*/

/*start catalog*/
.catalog{
  padding: 115px 0 62px;
  &__title{
    text-align: center;
  }
  &-sort{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    .sort-select{
      margin-left: 6px;
    }
    .sort-select__option{
      @extend %raleway__regular-italic;
    }
  }
  &__text{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .5px;
  }
  .jq-selectbox__select {
    height: 32px;
    padding: 0 18px 0 0;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: #0d3351;
    text-shadow: none;
    @extend %raleway__regular-italic;
  }
  .jq-selectbox__trigger{
    border-left: none;
  }
  .jq-selectbox__trigger-arrow{
    border: none;
    &::after{
      position: absolute;
      content: "";
      background-image: url('../images/header__input-after.png');
      width: 8px;
      height: 5px;
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    margin-bottom: 20px;
    &.hit,
    &.discount,
    &.discount-num{
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 89px;
        height: 101px;
        top: -7px;
        right: 46px;
      }
    }
    &.hit{
      &::before{
        background-image: url('../images/catalog-tag__hit.png');
      }
    }
    &.discount{
      &::before{
        background-image: url('../images/catalog-tag__discount.png');
      }
    }
    &.discount-num{
      &::before{
        background-image: url('../images/catalog-tag__discount-per.png');
      }
    }
  }
  &__item-textarea{
    background-color: #ffffff;
    height: 192px;
    padding: 30px 36px 40px;
    margin-top: -5px;
  }
  &__item-textarea__title{
    @extend %roboto-slab__reg;
    font-size: 18px;
    line-height: 22px;
    color: #00a2dd;
    padding-right: 19px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url('../images/catalog__item-after.png');
      width: 5px;
      height: 8px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__item-textarea__field{
    span{
      @extend %raleway__bold;
    }
    & + & {
      margin-top: -10px;
    }
  }
  &__item-textarea__prices{
    @extend %roboto-slab__reg;
  }
  &__item-textarea__prices.prices-pack{
    display: flex;
    align-items: center;
    .catalog__item-textarea__prices-old{
      margin: 3px 0 0 30px;
      font-size: 18px;
      line-height: 22px;
      color: rgba(#0d3351, .55);
      position: relative;
      &::before{
        position: absolute;
        content: "";
        height: 1px;
        width: calc(100% + 3px);
        background-color: rgba(#0d3351, .55);
        top:calc(50% + 2px)
      }
    }
  }
  &__item-textarea__prices-new{
    font-size: 30px;
    line-height: 34px;
    margin: 0;
    color: #0d3351;
  }
  &__link-wrapper{
    margin-top: 5px;
    text-align: center;
  }
  &__link{
    position: relative;
    padding-left: 38px;
    &::after{
      position: absolute;
      content: "";
      right: 26px;
      background-image: url('../images/catalog__link-after.png');
      width: 8px;
      height: 5px;
      top: 50%;
    }
  }
}
/*end catalog*/

/*start footer*/
.footer{
  background-color: #fff;
  padding: 45px 0 40px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    &:first-child{
      display: flex;
      max-width: 445px;
      justify-content: space-between;
      width: 100%;
    }
    .footer__item-sub:nth-child(2) .footer__item-sub__title{
      margin: 0 0 10px 0;
    }
  }
  &__item-sub__list.social-list {
    display: flex;
    justify-content: space-between;
    width: 150px;
    .footer__item-sub__list-item .footer__item-sub__list-link {
      width: 30px;
      height: 30px;
      background-color: #0d3351;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__item-sub__list.footer__menu{
    .footer__item-sub__list-item + .footer__item-sub__list-item{
      margin-top: 10px;
    }
  }
}
/*end footer*/

/*start card-form*/
.card-form{
  max-width: 850px;
  width: 100%;
  background-color: #ffffff;
  padding: 118px 48px 86px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__textarea{
    max-width: 360px;
  }
  &__title{
    font-size: 18px;
    line-height: 23px;
    color: #00a2dd;
    margin-bottom: 30px;
  }
  &__field{
    margin: 0;
    span{
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
    }
  }
  &__timetable{
    margin-top: 10px;
    .card-form__timetable-field{
      &:last-child{
        margin-top: 5px;
      }
    }
  }
  &__price{
    margin: 25px 0 20px;
  }
  &__photos-big{
    margin-bottom: 2px;
  }
  &__photos-small{
    & + & {
      margin-left: 6px;
    }
  }
}
/*end card-form*/
@import "media";
